body{
	background: #e3df7;

}
.navbar{
	background: rgb(15,12,41);
	background: linear-gradient(90deg,rgba(15,12,41,1) , rgba(48,43,99,1) 52% , rgba(36,36,62,1) 100%);
}

/*addnews*/

.addnews input{
	border:1px solid rgba(0,0,0,0.0);
	box-shadow: 6px 6px 10px rgba(0,0,0,0.1),
				-6px -6px 10px rgba(255,255,255,0.2);
}

.addnews{
	border:1px solid rgba(0,0,0,0.0);
	box-shadow: 6px 6px 10px rgba(0,0,0,0.1),
				-6px -6px 10px rgba(0,0,0,0.02);
	border-radius: 1rem;

}

.news{
	border:1px solid rgba(0,0,0,0.0);
	box-shadow: 6px 6px 10px rgba(0,0,0,0.1),
				-6px -6px 10px rgba(0,0,0,0.02);
	border-radius: 1rem;

}
.newsbutton{
	background-color: rgb(15,12,41);
	color:#fff;
	padding:1.5%;
	border:none;
	border-radius: 0.5rem;
	
	box-shadow: 6px 6px 10px rgba(0,0,0,0.1),
				-6px -6px 10px rgba(0,0,0,0.02);
}